body{
    height: 100vh;
    margin: 0px;

}

header{
    background-color: #1f2937;
    color: #E5E7EB;
}

.logo img{
    width: 200px;
}

ul{
    margin-top: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    padding-top: 15px;
    gap:15px;
    margin-right: 100px;
    margin-left: 60px;
}
.logo{
    margin-right:  auto;
    /* padding-top: 10px ; */
}

a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.title{
    font-size: 48px;
    color: #F9F4F8;
}

.presentation{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 10px;
    flex-wrap: wrap;
}

.Introduction,.image{
    width: 550px;
    /* height: 250px; */
    /* display: flex;
    flex-direction: column; */
    margin-bottom: 50px;
    padding: 10px;
}

.Introduction button{
    
    background-color: #3882f6;
    padding:5px 25px;
    border: none;
    border-radius: 5px ;
    color:#E5E7EB;
    margin: 15px 10px;
}

.image img{
    width: 500px;
}

.tip{
    margin-top: 20px;
}

